:root {
--yellow-food: #ffd700;
--black-food: #000000;
--white-food: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--black-food);
}

header {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background: var(--yellow-food);
    border-radius: 0 0 25px 25px;
}

header .header-navbar-container {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 20px;

}

header .header-navbar-container h1 {
    display: block;
    font-size: 1.5rem;
    transform: translateX(4%);
}

header .header-navbar-icons {
    position: absolute;
    display: inline-flex;
    width: 22px;
    height: 22px;
    top: -1px;
    right: calc(7%);
    margin-right: 10px;
    
}

header .header-navbar-icons img {
    padding: 3px;
}

header .star-white {
    filter: invert();
}

header .header-navbar-level {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 20px;
}

header .header-navbar-level h5 {
    display: block;
    transform: translateX(4%);
    margin-top: -10px;
}

header .header-navbar-level-icons {
    position: absolute;
    display: inline-flex;
    width: 60px;
    height: 60px;
    padding-left: 50px;
    top: -25px;

}

header .header-navbar-level-icons img{
    padding: 2px;
}

.header-container-saldo {
    position: relative;
    width: 95%;
    height: 100px;
    max-width: 350px;
    margin: 0 auto;
    margin-top: 30px;
    padding-bottom: 50px;
    padding: 8px;
    background-color: var(--white-food);
    border-radius: 23px;
}

.header-logo-glotones {
    position: absolute;
    width: 40px;
    height: 23px;
    top: 15px;
    right: calc(4%);
    background-image: url("/assets/img/logo/glotones.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header-container-saldo h2 {
    padding-top: 10px;
    padding-left: 10px;
}

.header-container-saldo h1 {
    font-size: 3.5rem;
    padding-top: 10px;
    padding-left: 10px;
    font-weight: 500;
}

main {
    width: 100%;
    height: auto;
    background-color: var(--black-food);
}

.main-recommended-container {
    width: 100%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.main-recommended-container-title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
    color: var(--yellow-food);
}

.main-recommended-container .image-menu-first {
    width: 300px;
    height: 220px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url("/assets/img/others/menu1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-recommended-container .image-menu-second {
    width: 300px;
    height: 210px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url("/assets/img/others/menu2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-recommended-container-description {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 50px;
    color: var(--white-food);
}

.main-table-title {
    text-align: center;
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin:0 auto;
    margin-top: -20px;
    margin-bottom: 20px;
    color: var(--yellow-food);
}

.main-historical-table {
    width: 80%;
    min-width: 235px;
    max-width: 500px;
    margin: 0 auto;
}

.historical-table-container {
    width: 70%;
    min-width: 230px;
    max-width: 900px;
    height: 250px;
    margin: 0 auto;
}

.historical-table-container table {
    width: 100%;
    height: 100%;
}

.historical-table-container td {
    text-align: center;
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--black-food);
    background-color: var(--white-food);
}

.historical-table-container .table__top-left {
    border-radius: 15px 0 0 0;
}

.historical-table-container .table__top-right {
    border-radius: 0 15px 0 0;
}

.historical-table-container .table__bottom-left {
    border-radius: 0 0 0 15px;
}

.historical-table-container .table__bottom-right {
    border-radius: 0 0 15px 0;
}

.historical-table-container .table__right {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: var(--black-food);
}

.historical-table-date {
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: -20 px;
    padding: 8px;
    background-color: var(--yellow-food);
    border-radius: 8px;
}

.historical-table-date p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--black-food);
}

.tables-container-slider {
    display: flex;
    gap: 10px;
    height: 270px;
    width: 100%;
    min-width: 230px;
    max-width: 805px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: proximity;
    margin: 0 auto;
    padding-left: 40px;
}

.tables-container-slider::-webkit-scrollbar {
    background-color: var(--soft-orange);
    height: 3px;
}

.tables-container-slider::-webkit-scrollbar-thumb {
    background-color: var(--bitcoin-orange);
}

.main-info-container {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    margin-top: 60px;
    padding: 20px 10px;
    background: var(--yellow-food);
}

.main-info-glotones-logo {
    position: absolute;
    width: 60px;
    height: 33px;
    top: -17px;
    left: calc(50% - 30px);
    background-image: url("/assets/img/logo/glotones-blanco.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-info-banner-delivery {
    width: 90%;
    min-width: 288px;
    max-width: 500px;
    height: 80px;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 10px;
    background-image: url("/assets/img/others/background-section-4-1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.main-info-banner-delivery h3 {
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
    transform: translateY(100%);
    color: var(--white-food);
    text-shadow: 2px 2px 2px black;
}

.main-info-banner-delivery h1 {
    font-size: 2.6rem;
    text-align: center;
    justify-content: center;
    transform: translateY(50%);
    color: var(--white-food);
    text-shadow: 2px 2px 2px black;
}

.main-info-banner-lottery-title {
    text-align: center;
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin:0 auto;
    margin-top: 40px;
    margin-bottom: -10px;
    color: var(--black-food);
}

.main-info-banner-lottery {
    width: 90%;
    min-width: 288px;
    max-width: 500px;
    height: 210px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 10px;
    background-image: url("/assets/img/others/background-section-4-2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.main-info-banner-lottery p {
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
    padding:0 10px;
    transform: translateY(50%);
    color: var(--white-food);
    text-shadow: 2px 2px 2px black;
}

footer {
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background: var(--white-food);
}

.footer-logo-glotones {
    width: 100px;
    height: 18px;
    margin: 0 auto;
    margin-top: 10px;
    background-image: url("/assets/img/logo/glotones-full.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.footer-social-media {
    margin-top: 15px;
    display:flex;
    justify-content: center;
}

.footer-social-media img {
    width: 80px;
    height: 80px;
    padding: 0 25px;
}

footer p {
    text-align: center;
    font-size: 1.1rem;
}

footer p img {
    width: 12px;
    margin-left: 2px;
    transform: translateY(3px);
}

footer .footer-menu {
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .footer-menu-container {
    width: 95%;
    min-width: 288px;
    max-width: 350px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    padding: 15px 5px 10px;
}

footer .footer-menu-container li {
    list-style: none;
}

footer .footer-menu-container li a {
    width: 55px;
    height: 45px;
    text-align: center;
    font-size: 10px;
    text-decoration: none;
    color: var(--black-food);
    display: block;
}

footer .footer-menu-container li img {
    width: 30px;
}

footer .footer-menu-container li a span {
    display: block;
    font-size: 10px;
}

footer .footer-menu-pedido {
    padding-top: 33px;
    display: block;
    font-size: 10px;
}

footer .footer-menu-button {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -20%;
    background: var(--yellow-food);
    border-radius: 50%;
}

footer .footer-menu-button img {
    margin-top: 11px;
    width: 30px;
    height: 25px;
    position: absolute;
    left: 52%;
    transform: translateX(-50%);
    filter: invert();
}